<%= render :partial => "public/list" %>


  <h1 class="d-flex justify-content-center m-3">About</h1>
  <p class="d-flex justify-content-center">ながのCAKEは全国発送可能なケーキ屋さんです。</p>
  <p class="d-flex justify-content-center">お子様からお年寄りの方までお召し上がりいただけるよう、</p>
  <p class="d-flex justify-content-center">様々なバリエーションをご用意しております。</p>
  <p class="d-flex justify-content-center">また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</p>
  <p class="d-flex justify-content-center">ぜひご注文下さい。</p>
  <div class="d-flex justify-content-center">
    <%= image_tag 'about.jpg', size: "600x324" %>
<%#= image_tag 'flower.png', :size => '30x20' %>
  </div>
